:root{
    --darkBlue: #120E43;
    --blue: #2827CC;
    --lightBlue: #1B98F5;
    --white: #FFFFFF;
    --black: #000000;
}

*{
    margin: 5px;
    padding: 0px;
}

.navbar-container{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 10px;
    margin-bottom: 15px;
}

img[alt="brand-logo"]{
    height: 40px;
    width: 120px;
    margin-right: auto;
}

.grow-list{
    margin-right: auto;
}

.list{
    list-style: none;
}

.list li{
    display: inline-block;
    padding: 0px 18px;
}

.list-item{
    font-size: 18px;
    color: #949090;
}

.list-item:hover{
    color: var(--black);
}

.nav-button btn{
    color: var(--white);
    background-color: var(--blue);
    border-radius: 6px;
    border: 0px;
    font-size: 15px;
    padding: 10px 15px;
}

.nav-button{
    color: var(--white);
    background-color: var(--blue);
    border-radius: 6px;
    border: 0px;
    font-size: 20px;
    padding: 12px 18px;
}

.banner-container{
    margin-top: 5%;
    display: flex;
    justify-content:space-between;
}

span{
    color: var(--blue);
}

.heading-text{
    color: var(--darkBlue);
    font-size: 85px;
    font-weight: 800;
    margin-right: 50rem;
}

.description{
    margin-top: 25px;
    font-size: 20px;
    margin-right: 70%;
    margin-bottom: 25px;
    color: gray;
}

img[alt="illustration"]{
    height: 28rem;
    position: absolute;
    left: 57.5%;

}